.login_box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
}
.login_box.show {
  visibility: visible;
  opacity: 1;
  display: flex !important;
}
.login_box .con {
  width: 500px;
  background-color: #fff;
  position: relative;
}
.login_box .con .close {
  position: absolute;
  top: -30px;
  right: 5px;
  z-index: 999;
  opacity: 1;
}
.login_box .con .tit {
  height: 150px;
  line-height: 150px;
  background-color: #fd7c47;
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.login_box .con form {
  padding: 50px;
}
.login_box .con form .subtit {
  color: #777676;
  font-size: 16px;
  margin-top: 8px;
}
.login_box .con form input {
  width: 100%;
}
.login_box .con form .s {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
}
.login_box .con form .s > div {
  display: flex;
  align-items: center;
  width: 50%;
}
.login_box .con form .s > div input {
  width: auto;
  margin-right: 8px;
}
.login_box .con form button {
  width: 100%;
}

/* login error message */
.message_box {
  white-space: nowrap;
  color: red;
  background-color: rgba(255, 0, 0, 0.429);
  line-height: 2.2em;
  padding: 8px;
  display: none;
}
.message_box.show {
  display: block;
}
.message_box .t {
  font-weight: bold;
}

.side-bar-l,
.main-right {
  position: sticky;
  top: 0px;
}

.main-content {
  overflow: visible;
}

.main-container:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.right-header .user_pirc {
  display: flex;
  align-items: center;
  display: none;
}
.right-header .user_pirc img {
  border-radius: 50%;
  display: block;
  width: 45px;
  height: 45px;
  object-fit: cover;
  object-position: center;
  margin-right: 12px;
  border: 1px solid #eee;
}

.recipe_box {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}
.recipe_box.show {
  visibility: visible;
  opacity: 1;
  display: flex !important;
}
.recipe_box .close_svg {
  text-align: right;
}
.recipe_box .close_svg svg {
  cursor: pointer;
}
.recipe_box .title {
  font-size: 20px;
  margin-bottom: 12px;
}
.recipe_box .wrap {
  background-color: #fff;
  width: 800px;
  padding: 50px;
}
.recipe_box .wrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recipe_box .wrap ul li {
  width: calc(50% - 30px);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.recipe_box .wrap ul li.con {
  width: 100% !important;
}
.recipe_box .wrap ul li.con .input_x {
  width: 90%;
  height: 6em;
  padding: 8px;
}
.recipe_box .wrap ul li input {
  width: 70%;
}
.recipe_box .wrap ul li span {
  flex: 1;
}
.recipe_box .wrap .btn_x {
  margin: auto;
  width: 100px;
  display: block;
  margin-top: 20px;
}

/* login error message */
.message_box {
  white-space: nowrap;
  color: red;
  background-color: rgba(255, 0, 0, 0.429);
  line-height: 2.2em;
  padding: 8px;
  display: none;
}
.message_box.show {
  display: block;
}
.message_box .t {
  font-weight: bold;
}


#flash-messages {
  transition: opacity 0.6s ease-out;
  opacity: 1;
}
.alert-success{
  padding: 8px;
  background-color: #fd7c47; 
  color: white;
  margin-bottom: 15px;
  text-align: center;} 

  .alert-danger {
    padding: 8px;
    background-color: #ff0707; 
    color: white;
    margin-bottom: 15px;
    text-align: center;} 
  