<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <title>Tasty</title>
    <!-- css files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/login_main.css') }}" />
  </head>

  <body>
    <div id="sign-in-panel" class="panel-pop"></div>
    <div class="not-log-in">
      <div class="header">
        <div class="main-container header-container">
          <div class="logo-image">
            <a href="/recipes" title="tasty">
              <img
                width="132"
                height="45"
                src="{{ url_for('static', filename='assets/images/logo.svg') }}"
                alt=""
              />
            </a>
          </div>

          <div class="right-header">
            <a href="/user" class="user">
              <div class="user_pirc">
                <img src="{{ url_for('static', filename='assets/images/13_Food_Servant-512.webp') }}" alt="" />
                <div class="name">{{ current_user.nickname }}</div>
              </div>
            </a>
            <div class="logout">
              <a href="{{ url_for('index') }}">Logout</a>
            </div>
          </div>
        </div>
      </div>

      <div class="main-content">
        <div class="main-container">
          <!-- side bar -->
          <div class="side-bar-l">
            <ul>
              <li>
                <a href="/recipes" class="">
                  <i class="bi bi-card-list"></i>
                  <span>Recipes</span>
                </a>
              </li>
              <li>
                <a href="/badges" class="side-bar-active">
                  <i class="bi bi-award-fill"></i>
                  <span>Badges</span>
                </a>
              </li>
              <li>
                <a href="/user">
                  <i class="bi bi-people-fill"></i>
                  <span>User Profile</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- points system -->

          <div class="main-inner rewards">
            <div class="head">
              <div class="t">
                <i class="bi bi-bucket-fill" style="color: #fd7c47"></i>
                Points System
              </div>
              <p>
                Tasty features a rewarding point system, encouraging active participation and valuable contributions from our members.
                Earn points by sharing recipes, engaging in discussions, and interacting with fellow food enthusiasts!
              </p>
            </div>

            <ul style="margin-bottom: 50px">
              <li class="item">
                <div class="t">
                  <i class="bi bi-bucket-fill" style="color: #fd7c47"></i>
                  <span class="tit">20</span>
                  <span class="subtit">Points</span>
                </div>
                <div class="ms">For signning up.</div>
              </li>
              
              <li class="item">
                <div class="t">
                  <i class="bi bi-bucket-fill" style="color: #fd7c47"></i>
                  <span class="tit">5</span>
                  <span class="subtit">Points</span>
                </div>
                <div class="ms">For posting a new recipe.</div>
              </li>
              <li class="item">
                <div class="t">
                  <i class="bi bi-bucket-fill" style="color: #fd7c47"></i>
                  <span class="tit">2</span>
                  <span class="subtit">Points</span>
                </div>
                <div class="ms">For getting a like.</div>
              </li>
              <li class="item">
                <div class="t">
                  <i class="bi bi-bucket-fill" style="color: #fd7c47"></i>
                  <span class="tit">2</span>
                  <span class="subtit">Points</span>
                </div>
                <div class="ms">For posting a comment.</div>
              </li>
              <li class="item">
                <div class="t">
                  <i class="bi bi-bucket-fill" style="color: #fd7c47"></i>
                  <span class="tit">2</span>
                  <span class="subtit">Points</span>
                </div>
                <div class="ms">For getting a comment.</div>
              </li>
            </ul>

            <div class="head" style="margin-top: 20px">
              <div class="t">
                <i class="bi bi-award-fill" style="color: #fd7c47"></i>
                Badges System
              </div>
              <p>
                Besides gaining reputation with your shared recipes,
                you receive badges for being especially helpful. Badges appears on
                your profile page.
              </p>
            </div>

            <ul class="pm">
              <li class="item">
                <div class="l">
                  <div>
                    <div class="icon" style="background: #000">
                      Tasting Novice
                    </div>
                  </div>
                  <div class="d">
                    <i class="bi bi-bucket-fill" style="color: #fd7c47"></i>
                    <span class="num">10</span>
                    <span class="ms">Points</span>
                  </div>
                </div>
                <div class="r">
                  The "Tasting Novice" badge is recognition for beginners, indicating that you've started exploring the world of gastronomy.
                  From trying out new recipes to learning basic cooking techniques, you're taking your first steps on a culinary journey.
                </div>
              </li>
              <li class="item">
                <div class="l">
                  <div>
                    <div class="icon" style="background: #3f0edf">
                      Culinary Apprentice
                    </div>
                  </div>
                  <div class="d">
                    <i class="bi bi-bucket-fill" style="color: #fd7c47"></i>
                    <span class="num">50</span>
                    <span class="ms">Points</span>
                  </div>
                </div>
                <div class="r">
                  The "Culinary Apprentice" badge is recognition for active learners, indicating that you've gained a
                  deep understanding of the basics of cooking. You may have mastered some common cooking techniques
                  and are starting to try more complex dishes.
                </div>
              </li>
              <li class="item">
                <div class="l">
                  <div>
                    <div class="icon" style="background: #50da19">
                      Gastronomic Explorer
                    </div>
                  </div>
                  <div class="d">
                    <i class="bi bi-bucket-fill" style="color: #fd7c47"></i>
                    <span class="num">100</span>
                    <span class="ms">Points</span>
                  </div>
                </div>
                <div class="r">
                  The "Gastronomic Explorer" badge is recognition for explorers, indicating that you've
                  delved into various culinary cultures and cooking techniques. You may have tried a wide
                  variety of ingredients and dishes, and have a deeper understanding of the breadth and depth of cooking.
                </div>
              </li>
              <li class="item">
                <div class="l">
                  <div>
                    <div class="icon" style="background: #d27373">
                      Culinary Master
                    </div>
                  </div>
                  <div class="d">
                    <i class="bi bi-bucket-fill" style="color: #fd7c47"></i>
                    <span class="num">200</span>
                    <span class="ms">Points</span>
                  </div>
                </div>
                <div class="r">
                  The "Culinary Master" badge is the highest honor for outstanding contributors, indicating that you've
                  become an expert in the culinary field and have a profound understanding and influence in the world of
                  gastronomy. You may have become a leading figure in the community, inspiring and guiding other members,
                  and collectively driving the development of culinary culture.
                </div>
              </li>
            </ul>
          </div>

          <div class="main-right">
            <div class="share">
              <button id="openShi" class="show_login">Share A Recipe</button>
            </div>

            <!-- popular recipes -->

            <div class="popular popular-posts">
              <div class="popular-bar">
                <i class="bi bi-person-hearts"></i>
                <span>Popular</span>
              </div>
              {% for post in popular_posts %}
                {% if loop.index == 1 %}
                <div class="popular-top-box">
                  <div id="popular-top-demo" class="popular-top-img">
                    <a href="{{ url_for('read', post_id=post.id) }}">
                      <img src="{{ post.image }}" alt="Top Post Image">
                    </a>
                  </div>
                  <div class="popular-top-detail">
                    <div class="popular-num">{{ loop.index }}</div>
                    <div class="popular-top-title">
                      <a href="{{ url_for('read', post_id=post.id) }}">{{ post.title }}</a>
                    </div>
                  </div>

                  <div class="popular-com-view">
                    <span class="com">
                      <i class="bi bi-chat-fill"></i>
                      <span class="comment-num">{{ post.likes_num }}</span> Likes
                    </span>
                    <span class="view">
                      <i class="bi bi-eye-fill"></i>
                      <span class="view-num">{{ post.read_times }}</span> Views
                    </span>
                  </div>
                </div>
                {% else %}
                <div class="popular-item">
                  <ul>
                    <li>
                      <div class="popular-item-detail">
                        <div class="popular-num">{{ loop.index }}</div>
                        <div class="popular-item-title">
                          <a href="{{ url_for('read', post_id=post.id) }}">{{ post.title }}</a>
                        </div>
                      </div>
                      <div class="popular-com-view">
                        <span class="com">
                          <i class="bi bi-chat-fill"></i>
                          <span id="comment-num" class="comment-num"> {{ post.likes_num }} </span
                          > Likes
                        </span>
                        <span class="view">
                          <i class="bi bi-eye-fill"></i>
                          <span id="view-num" class="view-num"> {{ post.read_times }}</span> Views
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="copy">© 2024 Liz. All Rights Reserved</div>
      </div>
    </div>

    <!-- recipe input box -->
    <section class="recipe_box">
      <div class="wrap">
        <div class="close_svg">
          <?xml version="1.0" encoding="UTF-8"?><svg
            width="24"
            height="24"
            viewBox="0 0 48 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 8L40 40"
              stroke="#000"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8 40L40 8"
              stroke="#000"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="title">Share A Recipe</div>
        <ul>
          <li class="long">
            <span class="tit long-tit">Title</span>
            <input class="input_x" type="text" name="title" required/>
          </li>

          <li class="long">
            <span class="tit long-tit">Image URL</span>
            <input class="input_x" type="text" name="image" required/>
          </li>

          <li>
            <span class="tit">Servings</span>
            <input class="input_x" type="number" name="servings" required step="1" />
          </li>

          <li>
            <span class="tit">Prep time</span>
            <input class="input_x" type="number" name="prep_time" required step="0.1" />
          </li>

          <li>
            <span class="tit">Cooking time</span>
            <input class="input_x" type="number" name="cooking_time" required step="0.1" />
          </li>

          <li>
            <span class="tit">Calories</span>
            <input class="input_x" type="number" name="calories" required step="1" />
          </li>
          <li>
            <span class="tit">Ingredient1</span>
            <input class="input_x" type="text" name="ingredient1" required/>
          </li>
          <li>
            <span class="tit">Ingredient2</span>
            <input class="input_x" type="text" name="ingredient2" />
          </li>
          <li>
            <span class="tit">Ingredient3</span>
            <input class="input_x" type="text" name="ingredient3" />
          </li>
          <li>
            <span class="tit">Ingredient4</span>
            <input class="input_x" type="text" name="ingredient4" />
          </li>
          <li>
            <span class="tit">Ingredient5</span>
            <input class="input_x" type="text" name="ingredient5" />
          </li>
          <li>
            <span class="tit">Ingredient6</span>
            <input class="input_x" type="text" name="ingredient6" />
          </li>

          <li class="con">
            <span class="tit">Content</span>
            <textarea
              class="input_x"
              name="content"
              type="text"
              required
              cols="30"
              rows="10"
            ></textarea>
          </li>
            

        </ul>

        <button class="btn_x">UPLOAD</button>
      </div>
    </section>

    <script src="{{ url_for('static', filename='assets/js/login_main.js') }}"></script>
  </body>
</html>
