<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasty</title>
    <!-- css files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/login_main.css') }}" />
  </head>

  <body>
    <div id="sign-in-panel" class="panel-pop"></div>
    <div class="not-log-in">
      <div class="header">
        <div class="main-container header-container">
          <div class="logo-image">
            <a href="/recipes" title="tasty">
              <img
                width="132"
                height="45"
                src="{{ url_for('static', filename='assets/images/logo.svg') }}"
                alt=""
              />
            </a>
          </div>

          <div class="right-header">
            <a href="/user" class="user">
              <div class="user_pirc">
                <img src="{{ url_for('static', filename='assets/images/13_Food_Servant-512.webp') }}" alt="" />
                <div class="name">{{ current_user.nickname }}</div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="main-content">
        <div class="main-container">
          <!-- side bar -->
          <div class="side-bar-l">
            <ul>
              <li>
                <a href="/recipes" class="side-bar-active">
                  <i class="bi bi-card-list"></i>
                  <span>Recipes</span>
                </a>
              </li>
              <li>
                <a href="/badges" class="show_login">
                  <i class="bi bi-award-fill"></i>
                  <span>Badges</span>
                </a>
              </li>
              <li>
                <a href="/user" class="show_login">
                  <i class="bi bi-people-fill"></i>
                  <span>User Profile</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- recommdation section -->

          <div class="main-inner">
            <div class="search">
              <form action="" class="recipe-search-form">
                <input
                  type="text"
                  class="recipe-search-input"
                  placeholder="Search..."
                />
                <button type="submit" class="recipe-search-btn">
                  <i class="bi bi-search"></i>
                </button>
              </form>
            </div>

            <div class="recipe-section">
              <div class="post-recipes">
                <div id="recipe-demo" class="recipe-post-box">
                  <div class="recipe-img-box">
                    <a href="./postsDetails.html"
                      ><img
                        src="./assets/images/jnews-demo-2-350x250.jpg"
                        alt=""
                        class="recipe-img"
                    /></a>
                  </div>
                  <div class="recipe-content">
                    <h3 class="recipe-title">
                      <a href="./postsDetails.html"
                        >Love Real Food Savory Steel Cut Oatmeal</a
                      >
                    </h3>
                    <div class="post-detail">
                      by
                      <span id="author-demo" class="post-author"
                        ><a href="./postsDetails.html">Margaery Tyrell</a></span
                      >
                      <span id="date-demo" class="post-date"
                        >September 9, 2017</span
                      >
                    </div>
                    <div id="recipe-detail-demo" class="recipe-detail">
                      <a href="./postsDetails.html"
                        >Strech lining hemline above knee burgundy glossy silk
                        complete hid zip little catches rayon. Tunic weaved
                        strech calfskin spaghetti straps...</a
                      >
                    </div>
                    <button class="continue-reading">
                      <a href="./postsDetails.html">CONTINUE READING</a>
                    </button>
                  </div>
                </div>
                <div id="recipe-demo" class="recipe-post-box">
                  <div class="recipe-img-box">
                    <a href="./postsDetails.html"
                      ><img
                        src="./assets/images/jnews-demo-2-350x250.jpg"
                        alt=""
                        class="recipe-img"
                    /></a>
                  </div>
                  <div class="recipe-content">
                    <h3 class="recipe-title">
                      <a href="./postsDetails.html"
                        >Love Real Food Savory Steel Cut Oatmeal</a
                      >
                    </h3>
                    <div class="post-detail">
                      by
                      <span id="author-demo" class="post-author"
                        ><a href="./postsDetails.html">Margaery Tyrell</a></span
                      >
                      <span id="date-demo" class="post-date"
                        >September 9, 2017</span
                      >
                    </div>
                    <div id="recipe-detail-demo" class="recipe-detail">
                      <a href="./postsDetails.html"
                        >Strech lining hemline above knee burgundy glossy silk
                        complete hid zip little catches rayon. Tunic weaved
                        strech calfskin spaghetti straps...</a
                      >
                    </div>
                    <button class="continue-reading">
                      <a href="./postsDetails.html">CONTINUE READING</a>
                    </button>
                  </div>
                </div>
                <div id="recipe-demo" class="recipe-post-box">
                  <div class="recipe-img-box">
                    <a href="./postsDetails.html"
                      ><img
                        src="./assets/images/jnews-demo-2-350x250.jpg"
                        alt=""
                        class="recipe-img"
                    /></a>
                  </div>
                  <div class="recipe-content">
                    <h3 class="recipe-title">
                      <a href="./postsDetails.html"
                        >Love Real Food Savory Steel Cut Oatmeal</a
                      >
                    </h3>
                    <div class="post-detail">
                      by
                      <span id="author-demo" class="post-author"
                        ><a href="./postsDetails.html">Margaery Tyrell</a></span
                      >
                      <span id="date-demo" class="post-date"
                        >September 9, 2017</span
                      >
                    </div>
                    <div id="recipe-detail-demo" class="recipe-detail">
                      <a href="./postsDetails.html"
                        >Strech lining hemline above knee burgundy glossy silk
                        complete hid zip little catches rayon. Tunic weaved
                        strech calfskin spaghetti straps...</a
                      >
                    </div>
                    <button class="continue-reading">
                      <a href="./postsDetails.html">CONTINUE READING</a>
                    </button>
                  </div>
                </div>
                <div id="recipe-demo" class="recipe-post-box">
                  <div class="recipe-img-box">
                    <a href="./postsDetails.html"
                      ><img
                        src="./assets/images/jnews-demo-2-350x250.jpg"
                        alt=""
                        class="recipe-img"
                    /></a>
                  </div>
                  <div class="recipe-content">
                    <h3 class="recipe-title">
                      <a href="./postsDetails.html"
                        >Love Real Food Savory Steel Cut Oatmeal</a
                      >
                    </h3>
                    <div class="post-detail">
                      by
                      <span id="author-demo" class="post-author"
                        ><a href="./postsDetails.html">Margaery Tyrell</a></span
                      >
                      <span id="date-demo" class="post-date"
                        >September 9, 2017</span
                      >
                    </div>
                    <div id="recipe-detail-demo" class="recipe-detail">
                      <a href="./postsDetails.html"
                        >Strech lining hemline above knee burgundy glossy silk
                        complete hid zip little catches rayon. Tunic weaved
                        strech calfskin spaghetti straps...</a
                      >
                    </div>
                    <button class="continue-reading">
                      <a href="./postsDetails.html">CONTINUE READING</a>
                    </button>
                  </div>
                </div>
                <div id="recipe-demo" class="recipe-post-box">
                  <div class="recipe-img-box">
                    <a href="./postsDetails.html"
                      ><img
                        src="./assets/images/jnews-demo-2-350x250.jpg"
                        alt=""
                        class="recipe-img"
                    /></a>
                  </div>
                  <div class="recipe-content">
                    <h3 class="recipe-title">
                      <a href="./postsDetails.html"
                        >Love Real Food Savory Steel Cut Oatmeal</a
                      >
                    </h3>
                    <div class="post-detail">
                      by
                      <span id="author-demo" class="post-author"
                        ><a href="./postsDetails.html">Margaery Tyrell</a></span
                      >
                      <span id="date-demo" class="post-date"
                        >September 9, 2017</span
                      >
                    </div>
                    <div id="recipe-detail-demo" class="recipe-detail">
                      <a href="./postsDetails.html"
                        >Strech lining hemline above knee burgundy glossy silk
                        complete hid zip little catches rayon. Tunic weaved
                        strech calfskin spaghetti straps...</a
                      >
                    </div>
                    <button class="continue-reading">
                      <a href="./postsDetails.html">CONTINUE READING</a>
                    </button>
                  </div>
                </div>
                <div id="recipe-demo" class="recipe-post-box">
                  <div class="recipe-img-box">
                    <a href="./postsDetails.html"
                      ><img
                        src="./assets/images/jnews-demo-2-350x250.jpg"
                        alt=""
                        class="recipe-img"
                    /></a>
                  </div>
                  <div class="recipe-content">
                    <h3 class="recipe-title">
                      <a href="./postsDetails.html"
                        >Love Real Food Savory Steel Cut Oatmeal</a
                      >
                    </h3>
                    <div class="post-detail">
                      by
                      <span id="author-demo" class="post-author"
                        ><a href="./postsDetails.html">Margaery Tyrell</a></span
                      >
                      <span id="date-demo" class="post-date"
                        >September 9, 2017</span
                      >
                    </div>
                    <div id="recipe-detail-demo" class="recipe-detail">
                      <a href="./postsDetails.html"
                        >Strech lining hemline above knee burgundy glossy silk
                        complete hid zip little catches rayon. Tunic weaved
                        strech calfskin spaghetti straps...</a
                      >
                    </div>
                    <button class="continue-reading">
                      <a href="./postsDetails.html">CONTINUE READING</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="pagination">
              <div class="pagination-box">
                <a href="#">
                  <span> < </span>
                </a>
                <a href="#"><span class="pagination-active">1</span></a>
                <a href="#"><span>2</span></a>
                <a href="#"><span>3</span></a>
                <a href="#"><span>4</span></a>
                <a href="#"><span>></span></a>
              </div>
            </div>
          </div>

          <div class="main-right">
            <div class="share">
              <button id="openShi" class="show_login">Share A Recipe</button>
            </div>

            <!-- popular recipes -->

            <div class="popular">
              <div class="popular-bar">
                <i class="bi bi-person-hearts"></i>
                <span>Popular</span>
              </div>
              <div class="popular-top-box">
                <div id="popular-top-demo" class="popular-top-img">
                  <a href="./postsDetails.html">
                    <img
                      src="./assets/images/brooke-lark-250695-350x250.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="popular-top-detail">
                  <div class="popular-num">01</div>
                  <div class="popular-top-title">
                    <a href="./postsDetails.html"
                      >New Recipe Pasta with Creamy Kale Sauce</a
                    >
                  </div>
                </div>
                <div class="popular-com-view">
                  <span class="com">
                    <i class="bi bi-chat-fill"></i>
                    <span id="comment-num" class="comment-num">346 </span
                    >Comments
                  </span>
                  <span class="view">
                    <i class="bi bi-eye-fill"></i>
                    <span id="view-num" class="view-num">14</span>k Views
                  </span>
                </div>
              </div>
              <div class="popular-item">
                <ul>
                  <li>
                    <div class="popular-item-detail">
                      <div class="popular-num">02</div>
                      <div class="popular-item-title">
                        <a href="./postsDetails.html"
                          >Green Bean Salad with Almonds & Feta</a
                        >
                      </div>
                    </div>
                    <div class="popular-com-view">
                      <span class="com">
                        <i class="bi bi-chat-fill"></i>
                        <span id="comment-num" class="comment-num"> 213 </span
                        >Comments
                      </span>
                      <span class="view">
                        <i class="bi bi-eye-fill"></i>
                        <span id="view-num" class="view-num"> 13</span>k Views
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="popular-item">
                <ul>
                  <li>
                    <div class="popular-item-detail">
                      <div class="popular-num">03</div>
                      <div class="popular-item-title">
                        <a href="./postsDetails.html"
                          >Steak & Baso Butter Lobster Sandwich</a
                        >
                      </div>
                    </div>
                    <div class="popular-com-view">
                      <span class="com">
                        <i class="bi bi-chat-fill"></i>
                        <span id="comment-num" class="comment-num"> 186 </span
                        >Comments
                      </span>
                      <span class="view">
                        <i class="bi bi-eye-fill"></i>
                        <span id="view-num" class="view-num"> 11</span>k Views
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="popular-item">
                <ul>
                  <li>
                    <div class="popular-item-detail">
                      <div class="popular-num">04</div>
                      <div class="popular-item-title">
                        <a href="./postsDetails.html"
                          >Spicy Crispy Pomegranate Chicken</a
                        >
                      </div>
                    </div>
                    <div class="popular-com-view">
                      <span class="com">
                        <i class="bi bi-chat-fill"></i>
                        <span id="comment-num" class="comment-num"> 157 </span
                        >Comments
                      </span>
                      <span class="view">
                        <i class="bi bi-eye-fill"></i>
                        <span id="view-num" class="view-num"> 11</span>k Views
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="popular-item">
                <ul>
                  <li>
                    <div class="popular-item-detail">
                      <div class="popular-num">05</div>
                      <div class="popular-item-title">
                        <a href="./postsDetails.html"
                          >Love Real Food Savory Steel Cut Oatmeal</a
                        >
                      </div>
                    </div>
                    <div class="popular-com-view">
                      <span class="com">
                        <i class="bi bi-chat-fill"></i>
                        <span id="comment-num" class="comment-num"> 120 </span
                        >Comments
                      </span>
                      <span class="view">
                        <i class="bi bi-eye-fill"></i>
                        <span id="view-num" class="view-num"> 9</span>k Views
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="popular-item">
                <ul>
                  <li>
                    <div class="popular-item-detail">
                      <div class="popular-num">06</div>
                      <div class="popular-item-title">
                        <a href="./postsDetails.html"
                          >Fresh Vegan Granola Bites Recipe</a
                        >
                      </div>
                    </div>
                    <div class="popular-com-view">
                      <span class="com">
                        <i class="bi bi-chat-fill"></i>
                        <span id="comment-num" class="comment-num"> 113 </span
                        >Comments
                      </span>
                      <span class="view">
                        <i class="bi bi-eye-fill"></i>
                        <span id="view-num" class="view-num"> 9</span>k Views
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="copy">© 2024 Liz. All Rights Reserved</div>
      </div>
    </div>

    <!-- Recipe input -->
    <section class="recipe_box">
      <div class="wrap">
        <div class="close_svg">
          <?xml version="1.0" encoding="UTF-8"?><svg
            width="24"
            height="24"
            viewBox="0 0 48 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 8L40 40"
              stroke="#000"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8 40L40 8"
              stroke="#000"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="title">Share A Recipe</div>
        <form action="/share" method="post" >
          <div class="message_box">
            <span class="t">ERROR:</span>
            Please insert your content.
          </div>
        <ul>
          <li>
            <span class="tit">Title</span>
            <li><input class="input_x" type="text" name="title" required/></li>
          </li>
          <li>
            <span class="tit">Ingredient1</span>
            <li><input class="input_x" type="text" name="ingredient1" required/></li>
          </li>
          <li>
            <span class="tit">Image URL</span>
            <li><input class="input_x" type="text" name="image" required/></li>
          </li>
          <li>
            <span class="tit">Ingredient2</span>
            <li><input class="input_x" type="text" name="ingredient2" /></li>
          </li>
          <li>
            <span class="tit">Servings</span>
            <li><input class="input_x" type="number" name="servings" required step="1" /></li>
          </li>
          <li>
            <span class="tit">Ingredient3</span>
            <li><input class="input_x" type="text" name="ingredient3" /></li>
          </li>
          <li>
            <span class="tit">Prep time</span>
            <li><input class="input_x" type="number" name="prep_time" required step="0.1" /></li>
          </li>
          <li>
            <span class="tit">Ingredient4</span>
            <li><input class="input_x" type="text" name="ingredient4" /></li>
          </li>
          <li>
            <span class="tit">Cooking time</span>
            <li><input class="input_x" type="number" name="cooking_time" required step="0.1" /></li>
          </li>
          <li>
            <span class="tit">Ingredient5</span>
            <li><input class="input_x" type="text" name="ingredient5" /></li>
          </li>
          <li>
            <span class="tit">Calories</span>
            <li><input class="input_x" type="number" name="calories" required step="1" /></li>
          </li>
          <li>
            <span class="tit">Ingredient6</span>
            <li><input class="input_x" type="text" name="ingredient6" /></li>
          </li>
          <li class="con">
            <span class="tit">Content</span>
            <li><input class="input_x" type="text" name="content" /></li>
            <textarea
              class="input_x"
              name=""
              id=""
              cols="30"
              rows="10"
            ></textarea>
          </li>
        </ul>

        <button class="btn_x" type="submit">UPLOAD</button>
      </div>
    </section>

    <script src="{{ url_for('static', filename='assets/js/login_main.js') }}"></script>
  </body>
</html>
