<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <title>User Profile</title>
    <!-- css files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/login_main.css') }}" />
  </head>

  <body>
    <div class="not-log-in">
      <div class="header">
        <div class="main-container header-container">
          <div class="logo-image">
            <a href="{{ url_for('post.recipes') }}" title="tasty">
              <img
                width="132"
                height="45"
                src="{{ url_for('static', filename='assets/images/logo.svg') }}"
                alt=""
              />
            </a>
          </div>

          <div class="right-header">
            <a href="/user" class="user">
              <div class="user_pirc">
                <img src="{{ url_for('static', filename='assets/images/13_Food_Servant-512.webp') }}" alt="" />
                <div class="name">{{ current_user.nickname }}</div>
              </div>
            </a>
            <div class="logout">
              <a href="{{ url_for('main.index') }}">Logout</a>
            </div>
          </div>
        </div>
      </div>

      <div class="intro my_box">
        <div class="container">
          <img src="{{ url_for('static', filename='assets/images/13_Food_Servant-512.webp') }}" alt="" />
                <div class="name">{{ current_user.nickname }}</div>
        {% if current_user.badges < 50 %}
        <span class="icon Tasting_Novice">Tasting Novice</span>
        {% elif current_user.badges < 100 %}
        <span class="icon Culinary_Apprentice">Culinary Apprentice</span>
        {% elif current_user.badges < 200 %}
        <span class="icon Gastronomic_Explorer">Gastronomic Explorer</span>
        {% else %}
        <span class="icon Culinary_Master">Culinary Master</span>
        {% endif %}
        </div>
      </div>

      <div class="main-content">
        <div class="main-container">
          <!-- side bar -->
          <div class="side-bar-l">
            <ul>
              <li>
                <a href="{{ url_for('post.recipes') }}">
                  <i class="bi bi-card-list"></i>
                  <span>Recipes</span>
                </a>
              </li>
              <li>
                <a href="{{url_for('main.badges')}}">
                  <i class="bi bi-award-fill"></i>
                  <span>Badges</span>
                </a>
              </li>
              <li>
                <a href="/user" class="side-bar-active">
                  <i class="bi bi-people-fill"></i>
                  <span>User Profile</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- User information -->

          <div class="main-inner mys_box">
            <ul class="nav">
              <li class="active">About</li>
              <li>Posted Recipes</li>
              <li>Liked Recipes</li>
              <li>My Comments</li>
            </ul>

            <div class="nav_box active" id="user-box" data-index="0">
              <div class="user-info-display">
                <div class="personal_signature">
                  {{ current_user.signature }}
                </div>
                <ul class="userInfo">
                  <li class="info-item">
                    <i class="bi bi-person-fill"></i>
                    <p class="gender-info">{{ current_user.gender }}</p>
                  </li>
                  <li class="info-item">
                    <i class="bi bi-globe-asia-australia"></i>
                    <p>{{ current_user.age }} years old</p>
                  </li>
                  <li class="info-item">
                    <i class="bi bi-phone-fill"></i>
                    <p>{{ current_user.mobile }}</p>
                  </li>
                  <li class="info-item">
                    <i class="bi bi-envelope-fill"></i>
                    <p>{{ current_user.email }}</p>
                  </li>
                </ul>

                <div class="edit-info">
                  <button class="edit-btn">
                    <i class="bi bi-arrow-right-circle-fill"></i>
                    <span class="ed">Edit Personal Information</span>
                  </button>
                </div>

                <div class="box1">
                  <div class="item">
                    <i class="bi bi-stickies-fill" style="color: #fd7c47"></i>
                    <div class="r">
                      <div class="num">{{ current_user.post_num }}</div>
                      <div class="tit">Posts</div>
                    </div>
                  </div>

                  <div class="item">
                    <i
                      class="bi bi-bookmark-check-fill"
                      style="color: #fd7c47"
                    ></i>
                    <div class="r">
                      <div class="num">{{ current_user.selflike_num }}</div>
                      <div class="tit">Favourites</div>
                    </div>
                  </div>
                  <div class="item">
                    <i
                      class="bi bi-chat-left-dots-fill"
                      style="color: #fd7c47"
                    ></i>
                    <div class="r">
                      <div class="num">{{ current_user.selfcomment_num }}</div>
                      <div class="tit">Comments</div>
                    </div>
                  </div>
                  <div class="item">
                    <i class="bi bi-bucket-fill" style="color: #fd7c47"></i>
                    <div class="r">
                      <div class="num">{{ current_user.badges }}</div>
                      <div class="tit">Points</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="user-info-edit">
                <div class="genderDiv">
                  <div id="maleDiv" class="gd">
                    <span class="icon">
                      <i class="bi bi-gender-male"></i>
                    </span>
                    <span class="male">MALE</span>
                  </div>
                  <div id="femaleDiv" class="gd">
                    <span class="icon">
                      <i class="bi bi-gender-female"></i>
                    </span>
                    <span class="female">FEMALE</span>
                  </div>
                </div>
                <form action="{{ url_for('user.edit_user_info') }}" method="post"  id="userinfoForm">
                  <label for="age">Age:</label><br />
                  <input
                    type="number"
                    id="age"
                    name="age"
                    value="{{ current_user.age }}"
                    min="1"
                    max="120"
                  /><br /><br />
                  <label for="mobile">Mobile:</label><br />
                  <input type="tel" id="mobile" name="mobile" value="{{ current_user.mobile }}" /><br /><br />
                  <label for="email">Email:</label><br />
                  <input type="email" id="email" name="email" value="{{ current_user.email or ''}}" /><br /><br />
                  <label for="signature">Personal Signature:</label><br />
                  <textarea id="signature" name="signature" draggable="false" >{{ current_user.signature }}</textarea>
                  <br /><br />
                  <button type="submit" class="save-btn">Save</button>
                </form>
              </div>
            </div>

            <script>
              //gender icon selection
              const maleDiv = document.querySelector("#maleDiv");
              const maleIcon = maleDiv.querySelector(".icon");
              const male = maleDiv.querySelector(".male");
              const femaleDiv = document.querySelector("#femaleDiv");
              const femaleIcon = femaleDiv.querySelector(".icon");
              const female = femaleDiv.querySelector(".female");

              const age_input = document.querySelector("#age");
              const mobile_input = document.querySelector("#mobile");
              const email_input = document.querySelector("#email");
              const signature_input = document.querySelector("#signature");

              const age_info = document.querySelector(".age-info");
              const mobile_info = document.querySelector(".mobile-info");
              const email_info = document.querySelector(".email-info");
              const signature_info = document.querySelector(
                ".personal_signature"
              );
              const gender_info = document.querySelector(".gender-info");

              const editBtn = document.querySelector(".edit-btn");
              const saveBtn = document.querySelector(".save-btn");
              const userDisplay = document.querySelector(".user-info-display");
              const userEdit = document.querySelector(".user-info-edit");
              let genderInput = document.createElement("input");
              genderInput.type = "hidden";
              genderInput.name = "gender";
              document.querySelector("#userinfoForm").appendChild(genderInput);
              maleDiv.addEventListener("click", function () {
                femaleDiv.classList.remove("gd_selected");
                femaleIcon.classList.remove("icon_selected");
                female.classList.remove("span_selected");
                maleDiv.classList.add("gd_selected");
                maleIcon.classList.add("icon_selected");
                male.classList.add("span_selected");
                genderInput.value = "male";
              });
              femaleDiv.addEventListener("click", function () {
                maleDiv.classList.remove("gd_selected");
                maleIcon.classList.remove("icon_selected");
                male.classList.remove("span_selected");
                femaleIcon.classList.add("icon_selected");
                female.classList.add("span_selected");
                femaleDiv.classList.add("gd_selected");
                genderInput.value = "female";
              });


              editBtn.addEventListener("click", function () {
                updateForm();
                userDisplay.style.display = "none";
                userEdit.style.display = "block";
              });

              saveBtn.addEventListener("click", function (e) {
                userEdit.style.display = "none";
                userDisplay.style.display = "block";
                document.getElementById('userinfoForm').submit();
              });

              function updateForm() {
                
              
                let gender = gender_info.innerText.toLowerCase();
                console.log(gender);
                if (gender == "female") {
                  femaleDiv.click();
                } else if (gender == "male") {
                  maleDiv.click();
                }
              }

             

              
            </script>
            <div class="nav_box" id="own-posts" data-index="1">
              <ul class="pl">
                {% if own_posts %}
                {% for post in own_posts %}
                <li class="item">
                   <div class="recipe-content">
                    <h3 class="recipe-title"><a href="{{ url_for('post.read', post_id=post.id) }}">{{ post.title }}</a></h3>
                  </div>
                  <c class="date">{{ post.create_time.strftime('%B %d, %Y') }}</c>
                </li>
                {% endfor %}
                {% else %}
                <li class="no-content">You don't have any posted recipes.</li>
                {% endif %}
              </ul>
              <div class="pagination">
                <div class="pagination-box">
                {% if own_posts_pagination.has_prev %}
                  <a href="{{ url_for('user.user', own_page=own_posts_pagination.prev_num) }}" class="paginationLink" data-type="own-posts"><span><  Previous</span></a>
                {% endif %}

                  <a href="#">
                    <span class="page-number pagination-active">Page {{ own_posts_pagination.page }} of {{ own_posts_pagination.pages }}</span>
                  </a>

                {% if own_posts_pagination.has_next %}
                  <a href="{{ url_for('user.user', own_page=own_posts_pagination.next_num) }}" class="paginationLink" data-type="own-posts"><span>Next  ></span></a>
                {% endif %}
                </div>
              </div>
            </div>
            
            <div class="nav_box" id="liked-posts" data-index="2">
              <ul class="pl">
                {% if liked_posts %}
                {% for post in liked_posts %}
                <li class="item">
                  <div class="recipe-content">
                    <h3 class="recipe-title"><a href="{{ url_for('post.read', post_id=post.id) }}">{{ post.title }}</a></h3>
                  </div>
                  <c class="date">{{ post.create_time.strftime('%B %d, %Y') }}</c>
                </li>
                {% endfor %}
                 {% else %}
                <li class="no-content">You don't have any liked recipes.</li>
                {% endif %}
              </ul>
              <div class="pagination">
                <div class="pagination-box">
                {% if liked_posts_pagination.has_prev %}
                  <a href="{{ url_for('user.user', liked_page=liked_posts_pagination.prev_num) }}" class="paginationLink" data-type="liked-posts"><span><  Previous</span></a>
                {% endif %}
                  <a href="#">
                    <span class="page-number pagination-active">Page {{ liked_posts_pagination.page }} of {{ liked_posts_pagination.pages }}</span>
                  </a>
                {% if liked_posts_pagination.has_next %}
                  <a href="{{ url_for('user.user', liked_page=liked_posts_pagination.next_num) }}" class="paginationLink" data-type="liked-posts"><span>Next  ></span></a>
                {% endif %}
                </div>
              </div>
            </div>
            
            <div class="nav_box" id="commented-posts" data-index="3">
              <ul class="pl">
                {% for post in commented_posts %}
                  <li>
                      <div class="recipe-content">
                          <h3 class="recipe-title"><a href="{{ url_for('post.read', post_id=post.id) }}">{{ post.title }}</a></h3>
                      </div>
                      {% for comment in post.comments %}
                      {% if comment.author_id == current_user.id %}
                      <div class="user_comment">
                        <div class="top">
                          <img src="{{ url_for('static', filename='assets/images/13_Food_Servant-512.webp') }}" alt="" />
                          <div class="right">
                              <div class="comment_name">{{ current_user.nickname }}</div>
                              <div class="date">{{ comment.timestamps.strftime('%Y-%m-%d %H:%M') }}</div>
                          </div>
                        </div>
                        <div class="c">{{ comment.body }}</div>
                      </div>
                      {% endif %}
                      {% endfor %}
                </li>
                {% endfor %}
              </ul>

              <div class="pagination">
                <div class="pagination-box">
                {% if commented_posts_pagination.has_prev %}
                  <a href="{{ url_for('user.user', commented_page=commented_posts_pagination.prev_num) }}" class="paginationLink" data-type="commented-posts"><span><  Previous</span></a>
                {% endif %}
                  <a href="#">
                    <span class="page-number pagination-active">Page {{ commented_posts_pagination.page }} of {{ commented_posts_pagination.pages }}</span>
                  </a>
                {% if commented_posts_pagination.has_next %}
                  <a href="{{ url_for('user.user', commented_page=commented_posts_pagination.next_num) }}" class="paginationLink" data-type="commented-posts"><span>Next  ></span></a>
                {% endif %}
                </div>
              </div>
              </div>
            </div>
            

          <div class="main-right">
            <div class="share">
              <button id="openShi" class="show_login">Share A Recipe</button>
            </div>

            <!-- popular recipes -->

            <div class="popular popular-posts">
              <div class="popular-bar">
                <i class="bi bi-person-hearts"></i>
                <span>Popular</span>
              </div>
              {% for post in popular_posts %}
                {% if loop.index == 1 %}
                <div class="popular-top-box">
                  <div id="popular-top-demo" class="popular-top-img">
                    <a href="{{ url_for('post.read', post_id=post.id) }}">
                      <img src="{{ post.image }}" alt="Top Post Image">
                    </a>
                  </div>
                  <div class="popular-top-detail">
                    <div class="popular-num">{{ loop.index }}</div>
                    <div class="popular-top-title">
                      <a href="{{ url_for('post.read', post_id=post.id) }}">{{ post.title }}</a>
                    </div>
                  </div>

                  <div class="popular-com-view">
                    <span class="com">
                      <i class="bi bi-chat-fill"></i>
                      <span class="comment-num">{{ post.likes_num }}</span> Likes
                    </span>
                    <span class="view">
                      <i class="bi bi-eye-fill"></i>
                      <span class="view-num">{{ post.read_times }}</span> Views
                    </span>
                  </div>
                </div>
                {% else %}
                <div class="popular-item">
                  <ul>
                    <li>
                      <div class="popular-item-detail">
                        <div class="popular-num">{{ loop.index }}</div>
                        <div class="popular-item-title">
                          <a href="{{ url_for('post.read', post_id=post.id) }}">{{ post.title }}</a>
                        </div>
                      </div>
                      <div class="popular-com-view">
                        <span class="com">
                          <i class="bi bi-chat-fill"></i>
                          <span id="comment-num" class="comment-num"> {{ post.likes_num }} </span
                          > Likes
                        </span>
                        <span class="view">
                          <i class="bi bi-eye-fill"></i>
                          <span id="view-num" class="view-num"> {{ post.read_times }}</span> Views
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
                {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="copy">© 2024 Liz. All Rights Reserved</div>
      </div>
    </div>

    <!-- recipe input box -->
    <section class="recipe_box">
      <div class="wrap">
        <div class="close_svg">
          <?xml version="1.0" encoding="UTF-8"?><svg
            width="24"
            height="24"
            viewBox="0 0 48 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 8L40 40"
              stroke="#000"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8 40L40 8"
              stroke="#000"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="title">Share A Recipe</div>
        <ul>
          <li class="long">
            <span class="tit long-tit">Title</span>
            <input class="input_x" type="text" name="title" required/>
          </li>

          <li class="long">
            <span class="tit long-tit">Image URL</span>
            <input class="input_x" type="text" name="image" required/>
          </li>

          <li>
            <span class="tit">Servings</span>
            <input class="input_x" type="number" name="servings" required step="1" />
          </li>

          <li>
            <span class="tit">Prep time</span>
            <input class="input_x" type="number" name="prep_time" required step="0.1" />
          </li>

          <li>
            <span class="tit">Cooking time</span>
            <input class="input_x" type="number" name="cooking_time" required step="0.1" />
          </li>

          <li>
            <span class="tit">Calories</span>
            <input class="input_x" type="number" name="calories" required step="1" />
          </li>
          <li>
            <span class="tit">Ingredient1</span>
            <input class="input_x" type="text" name="ingredient1" required/>
          </li>
          <li>
            <span class="tit">Ingredient2</span>
            <input class="input_x" type="text" name="ingredient2" />
          </li>
          <li>
            <span class="tit">Ingredient3</span>
            <input class="input_x" type="text" name="ingredient3" />
          </li>
          <li>
            <span class="tit">Ingredient4</span>
            <input class="input_x" type="text" name="ingredient4" />
          </li>
          <li>
            <span class="tit">Ingredient5</span>
            <input class="input_x" type="text" name="ingredient5" />
          </li>
          <li>
            <span class="tit">Ingredient6</span>
            <input class="input_x" type="text" name="ingredient6" />
          </li>

          <li class="con">
            <span class="tit">Content</span>
            <textarea
              class="input_x"
              name="content"
              type="text"
              required
              cols="30"
              rows="10"
            ></textarea>
          </li>
            

        </ul>

        <button class="btn_x">UPLOAD</button>
      </div>
    </section>
    </div>
    <script src="{{ url_for('static', filename='assets/js/login_main.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/user.js') }}"></script>

  </body>
</html>